{% extends "_layouts/base.html" %}

{% block content %}
<div class="main full ng-scope" ng-view="" autoscroll="true"><!-- ngInclude:  --><div class="chimera full ng-scope" ng-include="" src="template"><div class="content full ng-scope">
	<div class="hero solutions full ng-isolate-scope" parallax-background="" parallax-ratio="0.2" style="background-position: 50% 16px;"><div ng-transclude="">
		<div class="hero-overlay full ng-scope">
			<div class="wrapper">
				<div class="full pad">
					<h1>{{ entry.firstHeader }}</h1>
					<h2>{{ entry.firstSubheader }}</h2>
				</div>
			</div>
		</div>
	</div></div>
	<div class="white-bg full">
		<div class="wrapper">
			<div class="full pad">
				<h3>{{ entry.secondHeader }}</h3>
				<p>{{ entry.secondSubheader }}</p>
			</div>
		</div>
	</div>
	<div class="lightgray-bg full">
		<div class="wrapper middle pad">
			<h3 class="center">{{ entry.videoHeader }}</h3>
			<video class="videoplayer middle" frameborder="0" poster="assets/images/graphics/intro-video-cover.png" controls="">
				<source src="assets/videos/paradata_solutions-hd.mp4" type="video/mp4">
				Your browser does not support HTML5 video. Please download a modern browser, like <a href="https://www.google.com/chrome/browser/desktop/">Google Chrome</a>.
			</video>
		</div>
	</div>
	{% for block in entry.solutions.type('solutions') %}
		<div class="white-bg full">
			<div class="wrapper">
				<div id="1" class="anchor"></div>
				<div class="feature full">
					<div class="half pad">
						<div class="full pad center">
							<h3 class="bubble secondary-bg white-txt">{{ block.numberBubble }}</h3>
						</div>
						<div class="full pad">
							{{ block.solutionList }}
						</div>
					</div>
					<a href="http://paradata.io/assets/images/graphics/solutions1.png" target="_blank">
						<img class="half pad" src="./images/graphics/app_preview_bom_advantage.png">
					</a>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
